# Instructions:

1. Rename the notebook to Homework 2 - __*Your Name*__
2. Type in your codes
3. Turn in via email
   - <u>Subject line:</u> __*Your Name*__ - Python Homework 2

# Question 1:

- Read Pokemon excel data
- Display top 5 rows

In [2]:
import pandas as pd

df = pd.read_csv('Z:/Performance_Measurement/Team/Hao N/Intro to Python 3/4 Final Project/Work Along - Pokemon/pokemon_data.csv')

In [3]:
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

# Question 2:

- For each pokemon, create a column "Power" that calculate the average of Attack, Defense, and Speed
- Show statistical chart

In [5]:
df['Power'] = (df['Attack'] + df['Defense'] + df['Speed']) / 3

In [7]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Power
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,47.666667
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,61.666667
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,81.666667
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,101.000000
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,53.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,100.000000
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,126.666667
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,80.000000
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,100.000000
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,100.000000

In [6]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Power
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000,800.000000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375,73.707083
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129,22.373622
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000,13.333333
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000,56.666667
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000,73.166667
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000,90.000000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000,143.333333

# Question 3:

- Which Pokemon has the lowest average Power?

In [11]:
df.groupby(['Name']).mean().sort_values(['Power'], ascending = True)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Power
Name,,,,,,,,,,
Happiny,440,100,5,5,15,65,30,4,False,13.333333
Chansey,113,250,5,5,35,105,50,1,False,20.000000
Igglybuff,174,90,30,15,40,20,15,2,False,20.000000
Cleffa,173,50,25,28,45,55,15,2,False,22.666667
Blissey,242,255,10,10,75,135,55,2,False,25.000000
...,...,...,...,...,...,...,...,...,...,...
RayquazaMega Rayquaza,384,105,180,100,180,100,115,3,True,131.666667
MetagrossMega Metagross,376,80,145,150,105,110,110,3,False,135.000000
MewtwoMega Mewtwo X,150,106,190,100,154,100,130,1,True,140.000000
AggronMega Aggron,306,70,140,230,60,80,50,3,False,140.000000
GroudonPrimal Groudon,383,100,180,160,150,90,90,3,True,143.333333